* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ff0060;
}
.main {
  width: 500px;
  height: 600px;
  border: 5px solid #00dfa2;
  border-radius: 15px;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6fa70;
}

.top {
  height: 150px;
  max-width: 450px;
  border: 5px solid #787a91;
  border-radius: 10px;
  position: relative;
  right: 20px;
  left: 20px;
  top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Antonio", sans-serif;
}

.numbers {
  position: absolute;
  width: 350px;
  height: 300px;
  top: 230px;
  left: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.numbers button {
  width: 110px;
  height: 50px;
  /* cursor: pointer; */
  gap: 5px;
  font-size: larger;
}
.first-three {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.second-three {
  display: flex;
  gap: 10px;
}

.third-three {
  display: flex;
  gap: 10px;
}

.fourth-three {
  display: flex;
  gap: 10px;
  width: 350px;
  position: absolute;
  top: 475px;
  left: 15px;
}

.btn-zero {
  width: 230px;
  height: 50px;
  font-size: larger;
}

.btn-dot {
  width: 110px;
  height: 50px;
  cursor: pointer;
  font-size: larger;
}

.side-sign {
  position: absolute;
  top: 295px;
  left: 375px;
  display: flex;
  flex-direction: column;
  height: 230px;
  align-items: center;
  gap: 10px;
}
.side-sign button {
  width: 110px;
  height: 50px;
}

.equal {
  height: 220px;
  position: absolute;
  top: 415px;
  left: 375px;
  width: 110px;
  height: 110px;
  font-size: larger;
}

.middle {
  position: absolute;
  top: 220px;
  left: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 99;
}
.first-four {
  position: relative;
  top: 50px;
  left: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.middle button {
  cursor: pointer;
  width: 110px;
  height: 50px;
  font-size: larger;
  cursor: pointer;
  border-radius: 5px;
  /* background-color: #787a91; */
}
.minus,
.plus,
.number,
.equal {
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ff0060;
  color: #f6fa70;
  border-radius: 8px;
}

.top {
  background-color: aliceblue;
  border: 3px solid #00dfa2;
  min-width: 0;
}
.btn-clr {
  background-color: #ff0060;
}

.display-calc {
  max-width: 450px;
  word-wrap: break-word;
}
